Repository pmd/pmd, pull requests merged in 2019-07, with the labels that each got.

#1907 [doc] Error in changelog 6.16.0 due to not properly closed rule tag
  docs/pages/release_notes.md
  pmd-doc/pom.xml
  pmd-doc/src/main/java/net/sourceforge/pmd/docs/RuleTagChecker.java
  pmd-doc/src/test/java/net/sourceforge/pmd/docs/RuleTagCheckerTest.java
  pmd-doc/src/test/resources/ruletagchecker/docs/pages/pmd/rules/java/bestpractices.md
  pmd-doc/src/test/resources/ruletagchecker/docs/pages/ruletag-examples.md
Labels: in:pmd-internals

#1908 [doc] Update ruleset filename from deprecated basic.xml to quickstart.xml
  docs/pages/pmd/userdocs/installation.md
Labels: in:documentation

#1892 [lua] [cpd] Added CPD support for Lua
  pmd-dist/pom.xml
  pmd-dist/src/test/java/net/sourceforge/pmd/it/BinaryDistributionIT.java
  pmd-lua/pom.xml
  pmd-lua/src/main/antlr4/net/sourceforge/pmd/lang/lua/antlr4/Lua.g4
  pmd-lua/src/main/java/net/sourceforge/pmd/cpd/LuaLanguage.java
  pmd-lua/src/main/java/net/sourceforge/pmd/cpd/LuaTokenizer.java
  pmd-lua/src/main/resources/META-INF/services/net.sourceforge.pmd.cpd.Language
  pmd-lua/src/test/java/net/sourceforge/pmd/cpd/LuaTokenizerTest.java
  pmd-lua/src/test/resources/net/sourceforge/pmd/cpd/factorial.lua
  pmd-lua/src/test/resources/net/sourceforge/pmd/cpd/helloworld.lua
  pom.xml
Labels: a:new-language

#1926 [java] ATFD calculation problem
  docs/pages/release_notes.md
  pmd-java/src/main/java/net/sourceforge/pmd/lang/java/metrics/impl/visitors/AtfdBaseVisitor.java
  pmd-java/src/test/resources/net/sourceforge/pmd/lang/java/metrics/impl/xml/AtfdTest.xml
Labels: in:metrics
