Repository pmd/pmd, pull requests merged in 2020-07, with the labels that each got.

#2627 [java] Remove usages of DummyJavaNode
  pmd-java/src/main/java/net/sourceforge/pmd/lang/java/rule/bestpractices/UnusedImportsRule.java
  pmd-java/src/test/java/net/sourceforge/pmd/lang/java/symboltable/ClassScopeTest.java
Labels: is:deprecation

#2597 [dependencies] Fix issue #2594, update exec-maven-plugin everywhere
  .travis/build-coveralls.sh
  .travis/build-deploy.sh
  .travis/build-doc.sh
  .travis/build-publish.sh
  .travis/build-sonar.sh
  .travis/common-functions.sh
  do-release.sh
  docs/pages/release_notes.md
  pmd-apex/pom.xml
  pmd-doc/pom.xml
  pom.xml
Labels: dependencies

#2601 [java] Rewrite symbol table
  pmd-core/pom.xml
  pmd-core/src/main/java/net/sourceforge/pmd/internal/util/AssertionUtil.java
  pmd-core/src/main/java/net/sourceforge/pmd/internal/util/IteratorUtil.java
  pmd-core/src/main/java/net/sourceforge/pmd/util/CollectionUtil.java
  pmd-core/src/main/java/net/sourceforge/pmd/util/ConsList.java
  pmd-core/src/main/java/net/sourceforge/pmd/util/OptionalBool.java
  pmd-core/src/test/java/net/sourceforge/pmd/internal/util/IteratorUtilTest.java
  pmd-java/src/main/java/net/sourceforge/pmd/lang/java/ast/ASTList.java
  pmd-java/src/main/java/net/sourceforge/pmd/lang/java/ast/AstDisambiguationPass.java
  pmd-java/src/main/java/net/sourceforge/pmd/lang/java/ast/InternalApiBridge.java
  pmd-java/src/main/java/net/sourceforge/pmd/lang/java/internal/JavaAstProcessor.java
  pmd-java/src/main/java/net/sourceforge/pmd/lang/java/symbols/internal/impl/reflect/ReflectedClassImpl.java
  pmd-java/src/main/java/net/sourceforge/pmd/lang/java/symbols/table/JSymbolTable.java
  pmd-java/src/main/java/net/sourceforge/pmd/lang/java/symbols/table/ResolveResult.java
  pmd-java/src/main/java/net/sourceforge/pmd/lang/java/symbols/table/ScopeInfo.java
  pmd-java/src/main/java/net/sourceforge/pmd/lang/java/symbols/table/coreimpl/CachingShadowChainNode.java
  pmd-java/src/main/java/net/sourceforge/pmd/lang/java/symbols/table/coreimpl/CoreResolvers.java
  pmd-java/src/main/java/net/sourceforge/pmd/lang/java/symbols/table/coreimpl/MostlySingularMultimap.java
  pmd-java/src/main/java/net/sourceforge/pmd/lang/java/symbols/table/coreimpl/NameResolver.java
  pmd-java/src/main/java/net/sourceforge/pmd/lang/java/symbols/table/coreimpl/ShadowChain.java
  pmd-java/src/main/java/net/sourceforge/pmd/lang/java/symbols/table/coreimpl/ShadowChainBuilder.java
  pmd-java/src/main/java/net/sourceforge/pmd/lang/java/symbols/table/coreimpl/ShadowChainIterator.java
  pmd-java/src/main/java/net/sourceforge/pmd/lang/java/symbols/table/coreimpl/ShadowChainIteratorImpl.java
  pmd-java/src/main/java/net/sourceforge/pmd/lang/java/symbols/table/coreimpl/ShadowChainNode.java
  pmd-java/src/main/java/net/sourceforge/pmd/lang/java/symbols/table/coreimpl/ShadowChainNodeBase.java
  pmd-java/src/main/java/net/sourceforge/pmd/lang/java/symbols/table/coreimpl/ShadowChainRoot.java
  pmd-java/src/main/java/net/sourceforge/pmd/lang/java/symbols/table/internal/AbstractImportSymbolTable.java
  pmd-java/src/main/java/net/sourceforge/pmd/lang/java/symbols/table/internal/AbstractSymbolTable.java
  pmd-java/src/main/java/net/sourceforge/pmd/lang/java/symbols/table/internal/EmptySymbolTable.java
  pmd-java/src/main/java/net/sourceforge/pmd/lang/java/symbols/table/internal/ImportOnDemandSymbolTable.java
  pmd-java/src/main/java/net/sourceforge/pmd/lang/java/symbols/table/internal/JavaLangSymbolTable.java
  pmd-java/src/main/java/net/sourceforge/pmd/lang/java/symbols/table/internal/JavaResolvers.java
  pmd-java/src/main/java/net/sourceforge/pmd/lang/java/symbols/table/internal/ResolveResultImpl.java
  pmd-java/src/main/java/net/sourceforge/pmd/lang/java/symbols/table/internal/SamePackageSymbolTable.java
  pmd-java/src/main/java/net/sourceforge/pmd/lang/java/symbols/table/internal/SemanticChecksLogger.java
  pmd-java/src/main/java/net/sourceforge/pmd/lang/java/symbols/table/internal/SingleImportSymbolTable.java
  pmd-java/src/main/java/net/sourceforge/pmd/lang/java/symbols/table/internal/SuperTypesEnumerator.java
  pmd-java/src/main/java/net/sourceforge/pmd/lang/java/symbols/table/internal/SymTableFactory.java
  pmd-java/src/main/java/net/sourceforge/pmd/lang/java/symbols/table/internal/SymbolChainBuilder.java
  pmd-java/src/main/java/net/sourceforge/pmd/lang/java/symbols/table/internal/SymbolTableHelper.java
  pmd-java/src/main/java/net/sourceforge/pmd/lang/java/symbols/table/internal/SymbolTableImpl.java
  pmd-java/src/main/java/net/sourceforge/pmd/lang/java/symbols/table/internal/SymbolTableResolver.java
  pmd-java/src/main/java/net/sourceforge/pmd/lang/java/symbols/table/internal/TypeMemberSymTable.java
  pmd-java/src/main/java/net/sourceforge/pmd/lang/java/symbols/table/internal/TypeOnlySymTable.java
  pmd-java/src/main/java/net/sourceforge/pmd/lang/java/symbols/table/internal/VarOnlySymTable.java
  pmd-java/src/main/java/net/sourceforge/pmd/lang/java/symbols/table/internal/package-info.java
  pmd-java/src/test/kotlin/net/sourceforge/pmd/lang/java/ast/TypeDisambiguationTest.kt
  pmd-java/src/test/kotlin/net/sourceforge/pmd/lang/java/symbols/table/internal/HeaderScopesTest.kt
  pmd-java/src/test/kotlin/net/sourceforge/pmd/lang/java/symbols/table/internal/LazinessTest.kt
  pmd-java/src/test/kotlin/net/sourceforge/pmd/lang/java/symbols/table/internal/LocalTypeScopesTest.kt
  pmd-java/src/test/kotlin/net/sourceforge/pmd/lang/java/symbols/table/internal/MemberInheritanceTest.kt
  pmd-java/src/test/kotlin/net/sourceforge/pmd/lang/java/symbols/table/internal/SuperTypesEnumeratorTest.kt
  pmd-java/src/test/kotlin/net/sourceforge/pmd/lang/java/symbols/table/internal/TypeParamScopingTest.kt
  pmd-java/src/test/kotlin/net/sourceforge/pmd/lang/java/symbols/table/internal/Utils.kt
  pmd-java/src/test/kotlin/net/sourceforge/pmd/lang/java/symbols/table/internal/VarScopingTest.kt
  pom.xml
Labels: in:symbol-table

#2682 [java] New Rule: AvoidReassigningCatchVariables
  pmd-java/src/main/java/net/sourceforge/pmd/lang/java/rule/bestpractices/AvoidReassigningCatchVariablesRule.java
  pmd-java/src/main/resources/category/java/bestpractices.xml
  pmd-java/src/test/java/net/sourceforge/pmd/lang/java/rule/bestpractices/AvoidReassigningCatchVariablesTest.java
  pmd-java/src/test/resources/net/sourceforge/pmd/lang/java/rule/bestpractices/xml/AvoidReassigningCatchVariables.xml
Labels: a:new-rule
