Repository pmd/pmd, pull requests merged in 2021-04, with the labels that each got.

#3198 [apex] OperationWithLimitsInLoopRule: Support more limit consuming static method invocations
  pmd-apex/src/main/java/net/sourceforge/pmd/lang/apex/rule/performance/OperationWithLimitsInLoopRule.java
  pmd-apex/src/test/resources/net/sourceforge/pmd/lang/apex/rule/performance/xml/OperationWithLimitsInLoop.xml
Labels: an:enhancement

#3207 [core] Make more rules be recognized as rulechain (saxon HE)
  pmd-core/src/main/java/net/sourceforge/pmd/lang/rule/RuleTargetSelector.java
  pmd-core/src/main/java/net/sourceforge/pmd/lang/rule/xpath/internal/RuleChainAnalyzer.java
  pmd-core/src/main/java/net/sourceforge/pmd/lang/rule/xpath/internal/SaxonExprTransformations.java
  pmd-core/src/main/java/net/sourceforge/pmd/lang/rule/xpath/internal/SaxonXPathRuleQuery.java
  pmd-java/src/test/java/net/sourceforge/pmd/lang/java/rule/XPathRuleTest.java
Labels: for:performance, in:xpath

#3220 [ci] Upgrade build scripts
  .ci/README.md
  .ci/build-coveralls.sh
  .ci/build-pr-win-macos.sh
  .ci/build-sonar.sh
  .ci/build.sh
  .ci/check-environment.sh
  .ci/docker_ubuntu18.04/Dockerfile
  .ci/docker_ubuntu18.04/create-gh-pull-request-event.sh
  .ci/docker_ubuntu18.04/install-ruby.sh
  .ci/files/id_rsa.gpg
  .ci/files/id_rsa.pub
  .ci/files/maven-settings.xml
  .ci/files/private-env.gpg
  .ci/files/public-env.gpg
  .ci/files/release-signing-key-D0BF1D737C9A1C22.gpg.gpg
  .ci/git-repo-sync.sh
  .ci/inc/fetch_ci_scripts.bash
  .ci/inc/github-releases-api.inc
  .ci/inc/install-openjdk.inc
  .ci/inc/logger.inc
  .ci/inc/maven-dependencies.inc
  .ci/inc/pmd-code-api.inc
  .ci/inc/pmd-doc.inc
  .ci/inc/regression-tester.inc
  .ci/inc/setup-secrets.inc
  .ci/inc/sourceforge-api.inc
  .ci/travis_wait
  .github/PULL_REQUEST_TEMPLATE.md
  .github/workflows/build.yml
  .github/workflows/git-repo-sync.yml
  .github/workflows/pull-requests.yml
  .github/workflows/pushes.yml
  .github/workflows/releases.yml
  .github/workflows/troubleshooting.yml
  BUILDING.md
  Gemfile
  README.md
  do-release.sh
  docs/_config.yml
  docs/_data/sidebars/pmd_sidebar.yml
  docs/pages/pmd/projectdocs/committers/infrastructure.md
  docs/pages/pmd/projectdocs/committers/releasing.md
  docs/render_release_notes.rb
  pom.xml
Labels: github_actions, in:documentation, in:pmd-internals

#3240 [doc] Remove editme button for language index pages
  docs/_layouts/page.html
  docs/pages/release_notes.md
  pmd-doc/src/main/java/net/sourceforge/pmd/docs/RuleDocGenerator.java
  pmd-doc/src/test/resources/expected/java.md
Labels: in:documentation
