Repository pmd/pmd, pull requests merged in 2023-01, with the labels that each got.

#4346 [testing] Use custom surefire console reporter
  pmd-java/src/test/kotlin/net/sourceforge/pmd/lang/java/ast/ASTPatternTest.kt
  pmd-java/src/test/kotlin/net/sourceforge/pmd/lang/java/ast/Java11Test.kt
  pmd-java/src/test/kotlin/net/sourceforge/pmd/lang/java/ast/KotlinTestingDsl.kt
  pmd-java/src/test/kotlin/net/sourceforge/pmd/lang/java/ast/ParserTestSpec.kt
  pom.xml
Labels: in:pmd-internals, in:testing

#4341 [core] Add CPDReport#filterMatches
  docs/pages/release_notes.md
  pmd-core/src/main/java/net/sourceforge/pmd/cpd/CPDReport.java
  pmd-core/src/test/java/net/sourceforge/pmd/cpd/CPDReportTest.java
Labels: in:cpd

#4343 [core] CPD - implement CPDReportRenderer for all renderers
  pmd-core/src/main/java/net/sourceforge/pmd/cpd/CPDConfiguration.java
  pmd-core/src/main/java/net/sourceforge/pmd/cpd/CSVRenderer.java
  pmd-core/src/main/java/net/sourceforge/pmd/cpd/SimpleRenderer.java
  pmd-core/src/main/java/net/sourceforge/pmd/cpd/VSRenderer.java
Labels: in:pmd-internals, in:cpd

#4342 [core] Remove deprecated classes/methods (finish #881)
  pmd-core/src/main/java/net/sourceforge/pmd/RuleSetWriter.java
  pmd-core/src/main/java/net/sourceforge/pmd/cli/PMDParameters.java
  pmd-core/src/main/java/net/sourceforge/pmd/lang/rule/RuleReference.java
  pmd-core/src/main/resources/net/sourceforge/pmd/util/viewer/resources/viewer_strings.properties
  pmd-core/src/test/java/net/sourceforge/pmd/RuleReferenceTest.java
  pmd-core/src/test/java/net/sourceforge/pmd/RuleSetWriterTest.java
Labels: in:pmd-internals

#4357 [java] Fix IllegalStateException in UseDiamongOperator rule
  pmd-java/src/main/java/net/sourceforge/pmd/lang/java/types/internal/infer/ast/BaseInvocMirror.java
  pmd-java/src/test/resources/net/sourceforge/pmd/lang/java/rule/codestyle/xml/UseDiamondOperator.xml
Labels: a:bug

#4336 [core] Deprecations in CPDConfiguration, Base(CPD)CLITest, AbstractAntTestHelper
  docs/pages/release_notes.md
  pmd-core/src/main/java/net/sourceforge/pmd/cpd/CPDConfiguration.java
  pmd-test/src/main/java/net/sourceforge/pmd/ant/AbstractAntTestHelper.java
  pmd-test/src/main/java/net/sourceforge/pmd/cli/BaseCLITest.java
  pmd-test/src/main/java/net/sourceforge/pmd/cli/BaseCPDCLITest.java
Labels: is:deprecation

#4214 [cli] Add --relativize-paths-with option
  docs/pages/pmd/userdocs/cli_reference.md
  docs/pages/pmd/userdocs/tools/ant.md
  docs/pages/release_notes.md
  pmd-core/src/main/java/net/sourceforge/pmd/PMD.java
  pmd-core/src/main/java/net/sourceforge/pmd/PMDConfiguration.java
  pmd-core/src/main/java/net/sourceforge/pmd/PmdAnalysis.java
  pmd-core/src/main/java/net/sourceforge/pmd/ant/PMDTask.java
  pmd-core/src/main/java/net/sourceforge/pmd/ant/internal/PMDTaskImpl.java
  pmd-core/src/main/java/net/sourceforge/pmd/cli/PMDParameters.java
  pmd-core/src/main/java/net/sourceforge/pmd/cli/PmdParametersParseResult.java
  pmd-core/src/main/java/net/sourceforge/pmd/internal/util/FileCollectionUtil.java
  pmd-core/src/main/java/net/sourceforge/pmd/lang/document/FileCollector.java
  pmd-core/src/main/java/net/sourceforge/pmd/lang/document/NioTextFile.java
  pmd-core/src/main/java/net/sourceforge/pmd/util/datasource/FileDataSource.java
  pmd-core/src/main/java/net/sourceforge/pmd/util/datasource/internal/PathDataSource.java
  pmd-core/src/test/java/net/sourceforge/pmd/ant/PMDTaskTest.java
  pmd-core/src/test/java/net/sourceforge/pmd/cli/CoreCliTest.java
  pmd-core/src/test/java/net/sourceforge/pmd/cli/PMDFilelistTest.java
  pmd-core/src/test/java/net/sourceforge/pmd/cli/ZipFileTest.java
  pmd-core/src/test/java/net/sourceforge/pmd/lang/document/FileCollectorTest.java
  pmd-core/src/test/resources/net/sourceforge/pmd/ant/xml/pmdtasktest.xml
  pmd-core/src/test/resources/net/sourceforge/pmd/cli/FakeRuleset2.xml
  pmd-core/src/test/resources/net/sourceforge/pmd/cli/filelist4.txt
  pmd-core/src/test/resources/net/sourceforge/pmd/cli/otherSrc/somefile.dummy
  pmd-core/src/test/resources/net/sourceforge/pmd/cli/zipWithSources.zip
Labels: in:cli

#4363 [cli] Add --relativize-paths-with option (pmd7)
  docs/pages/pmd/userdocs/cli_reference.md
  docs/pages/pmd/userdocs/tools/ant.md
  docs/pages/release_notes.md
  pmd-ant/src/main/java/net/sourceforge/pmd/ant/PMDTask.java
  pmd-ant/src/main/java/net/sourceforge/pmd/ant/internal/PMDTaskImpl.java
  pmd-ant/src/test/java/net/sourceforge/pmd/ant/PMDTaskTest.java
  pmd-ant/src/test/resources/net/sourceforge/pmd/ant/xml/pmdtasktest.xml
  pmd-cli/src/main/java/net/sourceforge/pmd/cli/commands/internal/PmdCommand.java
  pmd-cli/src/test/java/net/sourceforge/pmd/cli/PmdCliTest.java
  pmd-cli/src/test/resources/net/sourceforge/pmd/cli/FakeRuleset2.xml
  pmd-cli/src/test/resources/net/sourceforge/pmd/cli/src/anotherfile.dummy
  pmd-cli/src/test/resources/net/sourceforge/pmd/cli/src/somefile.dummy
  pmd-cli/src/test/resources/net/sourceforge/pmd/cli/src/somefile1.dummy
  pmd-cli/src/test/resources/net/sourceforge/pmd/cli/src/somefile2.dummy
  pmd-cli/src/test/resources/net/sourceforge/pmd/cli/src/somefile3.dummy
  pmd-cli/src/test/resources/net/sourceforge/pmd/cli/src/somefile4.dummy
  pmd-core/src/main/java/net/sourceforge/pmd/PMD.java
  pmd-core/src/main/java/net/sourceforge/pmd/PMDConfiguration.java
  pmd-core/src/main/java/net/sourceforge/pmd/PmdAnalysis.java
  pmd-core/src/main/java/net/sourceforge/pmd/cli/PMDParameters.java
  pmd-core/src/main/java/net/sourceforge/pmd/cli/PmdParametersParseResult.java
  pmd-core/src/main/java/net/sourceforge/pmd/internal/util/FileCollectionUtil.java
  pmd-core/src/main/java/net/sourceforge/pmd/lang/document/FileCollector.java
  pmd-core/src/main/java/net/sourceforge/pmd/lang/document/NioTextFile.java
  pmd-core/src/main/java/net/sourceforge/pmd/lang/document/TextFile.java
  pmd-core/src/main/java/net/sourceforge/pmd/util/datasource/FileDataSource.java
  pmd-core/src/main/java/net/sourceforge/pmd/util/datasource/internal/PathDataSource.java
  pmd-core/src/test/java/net/sourceforge/pmd/PmdConfigurationTest.java
  pmd-core/src/test/java/net/sourceforge/pmd/cli/PMDFilelistTest.java
  pmd-core/src/test/java/net/sourceforge/pmd/cli/ZipFileTest.java
  pmd-core/src/test/java/net/sourceforge/pmd/lang/document/FileCollectorTest.java
  pmd-core/src/test/java/net/sourceforge/pmd/lang/document/NioTextFileTest.java
  pmd-core/src/test/java/net/sourceforge/pmd/lang/document/TextFilesTest.java
  pmd-core/src/test/resources/net/sourceforge/pmd/cli/filelist4.txt
  pmd-core/src/test/resources/net/sourceforge/pmd/cli/otherSrc/somefile.dummy
  pmd-core/src/test/resources/net/sourceforge/pmd/cli/zipWithSources.zip
Labels: in:cli

#4366 [java] Fix broken TextBlock grammar
  docs/pages/release_notes.md
  pmd-java/etc/grammar/Java.jjt
  pmd-java/src/test/java/net/sourceforge/pmd/lang/java/ast/ParserCornersTest.java
  pmd-java/src/test/resources/net/sourceforge/pmd/lang/java/cpd/testdata/ignoreIdentsPreservesClassLiteral.txt
  pmd-java/src/test/resources/net/sourceforge/pmd/lang/java/cpd/testdata/ignoreIdentsPreservesCtor.txt
  pmd-java/src/test/resources/net/sourceforge/pmd/lang/java/cpd/testdata/ignoreIdentsPreservesEnum.txt
Labels: a:bug, in:grammar

#4356 [java] Fix NPE in CloseResourceRule
  pmd-java/src/main/java/net/sourceforge/pmd/lang/java/rule/errorprone/CloseResourceRule.java
  pmd-java/src/test/resources/net/sourceforge/pmd/lang/java/rule/errorprone/xml/CloseResource.xml
Labels: a:bug
