Repository pmd/pmd, pull requests merged in 2024-06, with the labels that each got.

#5045 Update kotest and kotlin
  pom.xml
Labels: dependencies, in:testing

#5075 [doc] Release schedule, version policies, support lifecycle
  do-release.sh
  docs/_config.yml
  docs/_data/sidebars/pmd_sidebar.yml
  docs/_includes/sidebar.html
  docs/pages/pmd/about/release_policies.md
  docs/pages/pmd/about/support_lifecycle.md
  docs/pages/pmd/projectdocs/committers/releasing.md
  docs/pages/release_notes.md
Labels: in:documentation

#4992 [core] CPD: Include processing errors in XML report
  docs/pages/pmd/userdocs/cpd/cpd_report_formats.md
  docs/pages/release_notes.md
  pmd-ant/src/main/java/net/sourceforge/pmd/ant/CPDTask.java
  pmd-cli/src/test/java/net/sourceforge/pmd/cli/CpdCliTest.java
  pmd-compat6/src/main/java/net/sourceforge/pmd/cpd/RendererHelper.java
  pmd-core/etc/xslt/cpdhtml-v2.xslt
  pmd-core/etc/xslt/cpdhtml.xslt
  pmd-core/src/main/java/net/sourceforge/pmd/cpd/CPDConfiguration.java
  pmd-core/src/main/java/net/sourceforge/pmd/cpd/CPDReport.java
  pmd-core/src/main/java/net/sourceforge/pmd/cpd/CpdAnalysis.java
  pmd-core/src/main/java/net/sourceforge/pmd/cpd/GUI.java
  pmd-core/src/main/java/net/sourceforge/pmd/cpd/XMLOldRenderer.java
  pmd-core/src/main/java/net/sourceforge/pmd/cpd/XMLRenderer.java
  pmd-core/src/main/resources/cpd-report_1_0_0.xsd
  pmd-core/src/test/java/net/sourceforge/pmd/cpd/CpdAnalysisTest.java
  pmd-core/src/test/java/net/sourceforge/pmd/cpd/CpdTestUtils.java
  pmd-core/src/test/java/net/sourceforge/pmd/cpd/XMLOldRendererTest.java
  pmd-core/src/test/java/net/sourceforge/pmd/cpd/XMLRendererTest.java
  pmd-core/src/test/resources/net/sourceforge/pmd/cpd/SampleCpdReport.xml
Labels: in:cpd

#5038 [java] Add new rule UseEnumCollections
  docs/pages/release_notes.md
  pmd-java/src/main/java/net/sourceforge/pmd/lang/java/rule/bestpractices/UseEnumCollectionsRule.java
  pmd-java/src/main/resources/category/java/bestpractices.xml
  pmd-java/src/main/resources/rulesets/java/quickstart.xml
  pmd-java/src/test/java/net/sourceforge/pmd/lang/java/rule/bestpractices/UseEnumCollectionsTest.java
  pmd-java/src/test/resources/net/sourceforge/pmd/lang/java/rule/bestpractices/xml/UseEnumCollections.xml
Labels: a:new-rule

#4991 [cli] Add exit code for processing errors
  docs/pages/pmd/userdocs/cli_reference.md
  docs/pages/pmd/userdocs/cpd/cpd.md
  docs/pages/pmd/userdocs/tools/ant.md
  docs/pages/release_notes.md
  pmd-ant/src/main/java/net/sourceforge/pmd/ant/CPDTask.java
  pmd-ant/src/main/java/net/sourceforge/pmd/ant/internal/PMDTaskImpl.java
  pmd-ant/src/test/java/net/sourceforge/pmd/ant/CPDTaskTest.java
  pmd-ant/src/test/resources/net/sourceforge/pmd/ant/src/sampleLexError.dummy
  pmd-ant/src/test/resources/net/sourceforge/pmd/ant/xml/cpdtasktest.xml
  pmd-ant/src/test/resources/net/sourceforge/pmd/ant/xml/expected-pmd-ant-xml.xml
  pmd-cli/src/main/java/net/sourceforge/pmd/cli/commands/internal/AbstractAnalysisPmdSubcommand.java
  pmd-cli/src/main/java/net/sourceforge/pmd/cli/commands/internal/CpdCommand.java
  pmd-cli/src/main/java/net/sourceforge/pmd/cli/commands/internal/PmdCommand.java
  pmd-cli/src/main/java/net/sourceforge/pmd/cli/internal/CliExitCode.java
  pmd-cli/src/test/java/net/sourceforge/pmd/cli/CpdCliTest.java
  pmd-cli/src/test/java/net/sourceforge/pmd/cli/PmdCliTest.java
  pmd-cli/src/test/resources/net/sourceforge/pmd/cli/RuleSetWithViolations.xml
  pmd-compat6/src/main/java/net/sourceforge/pmd/PMDConfiguration.java
  pmd-compat6/src/main/java/net/sourceforge/pmd/cpd/CPDConfiguration.java
  pmd-core/src/main/java/net/sourceforge/pmd/AbstractConfiguration.java
  pmd-core/src/main/java/net/sourceforge/pmd/PMDConfiguration.java
  pmd-core/src/main/java/net/sourceforge/pmd/cpd/CPDConfiguration.java
  pmd-core/src/main/java/net/sourceforge/pmd/cpd/CpdAnalysis.java
  pmd-core/src/main/java/net/sourceforge/pmd/reporting/Report.java
  pmd-core/src/main/java/net/sourceforge/pmd/reporting/ReportStats.java
  pmd-dist/src/test/java/net/sourceforge/pmd/dist/BinaryDistributionIT.java
Labels: in:cli
