Repository pmd/pmd, pull requests merged in 2025-02, with the labels that each got.

#5503 [java] AvoidSynchronizedAtMethodLevel: Fixed error in code example
  pmd-java/src/main/resources/category/java/multithreading.xml
Labels: in:documentation

#5542 Add GitHub issue links in IDEA git log
  .gitignore
  .idea/vcs.xml
Labels: in:pmd-internals

#5544 [javacc] Move grammar files into src/main/javacc
  docs/pages/pmd/devdocs/major_contributions/adding_a_new_javacc_based_language.md
  javacc-wrapper.xml
  pmd-core/etc/grammar/dummy.jjt
  pmd-cpp/src/main/javacc/Cpp.jj
  pmd-java/src/main/javacc/Java.jjt
  pmd-javascript/src/main/javacc/Ecmascript5.jj
  pmd-jsp/src/main/javacc/Jsp.jjt
  pmd-matlab/src/main/javacc/Matlab.jj
  pmd-modelica/src/main/javacc/Modelica.jjt
  pmd-objectivec/src/main/javacc/ObjectiveC.jj
  pmd-plsql/src/main/javacc/PLSQL.jjt
  pmd-python/src/main/javacc/Python.jj
  pmd-velocity/src/main/javacc/Vtl.jjt
  pmd-visualforce/src/main/javacc/Vf.jjt
Labels: in:grammar

#5510 [ci] Add signed releases
  .ci/build.sh
  docs/_data/sidebars/pmd_sidebar.yml
  docs/pages/pmd/userdocs/signed_releases.md
  docs/pages/release_notes.md
Labels: in:pmd-internals

#5524 [ci] New optimized workflow for pull requests
  .github/workflows/build.yml
  .github/workflows/pull-requests.yml
  docs/_data/sidebars/pmd_sidebar.yml
  docs/pages/pmd/devdocs/github_actions_workflows.md
  docs/pages/pmd/projectdocs/committers/infrastructure.md
  pom.xml
Labels: in:pmd-internals

#5551 [doc] Update contributors for 7.11.0
  .all-contributorsrc
  docs/pages/pmd/projectdocs/credits.md
Labels: in:documentation
