Repository pmd/pmd, pull requests merged in 2025-05, with the labels that each got.

#5728 [ci] Improvements for "Publish Pull Requests"
  .github/workflows/publish-pull-requests.yml
  docs/pages/pmd/devdocs/github_actions_workflows.md
Labels: in:pmd-internals, github_actions

#5584 [ci] New workflow "Publish Snapshot"
  .ci/files/pmdtester_start.sh
  .gitattributes
  .github/workflows/build.yml
  .github/workflows/old-build.yml
  .github/workflows/publish-pull-requests.yml
  .github/workflows/publish-snapshot.yml
  .github/workflows/pull-requests.yml
  do-release.sh
  docs/pages/pmd/devdocs/github_actions_workflows.md
  pmd-dist/src/main/resources/assemblies/pmd-src.xml
Labels: in:pmd-internals, github_actions

#5743 [ci] Make build a reuseable workflow
  .github/workflows/build-pr.yml
  .github/workflows/build-snapshot.yml
  .github/workflows/build.yml
  .github/workflows/publish-pull-requests.yml
  .github/workflows/publish-snapshot.yml
  docs/pages/pmd/devdocs/github_actions_workflows.md
Labels: in:pmd-internals, github_actions

#5742 [ci] publish-snapshot/old build: migrate to central portal
  .ci/build.sh
  .github/workflows/build.yml
  .github/workflows/publish-snapshot.yml
  docs/pages/pmd/devdocs/building/building_general.md
  docs/pages/pmd/devdocs/github_actions_workflows.md
  pom.xml
Labels: in:pmd-internals, github_actions

#5727 Fix #5621: [java] Fix FPs with UnusedPrivateMethod
  .idea/vcs.xml
  docs/pages/release_notes.md
  pmd-java/src/main/java/net/sourceforge/pmd/lang/java/ast/ASTMethodReference.java
  pmd-java/src/main/java/net/sourceforge/pmd/lang/java/ast/InternalApiBridge.java
  pmd-java/src/main/java/net/sourceforge/pmd/lang/java/ast/InvocationNode.java
  pmd-java/src/main/java/net/sourceforge/pmd/lang/java/ast/MethodUsage.java
  pmd-java/src/main/java/net/sourceforge/pmd/lang/java/rule/bestpractices/UnusedPrivateMethodRule.java
  pmd-java/src/main/java/net/sourceforge/pmd/lang/java/rule/codestyle/UseDiamondOperatorRule.java
  pmd-java/src/main/java/net/sourceforge/pmd/lang/java/types/OverloadSelectionResult.java
  pmd-java/src/main/java/net/sourceforge/pmd/lang/java/types/internal/infer/ExprCheckHelper.java
  pmd-java/src/main/java/net/sourceforge/pmd/lang/java/types/internal/infer/ExprMirror.java
  pmd-java/src/main/java/net/sourceforge/pmd/lang/java/types/internal/infer/ExprOps.java
  pmd-java/src/main/java/net/sourceforge/pmd/lang/java/types/internal/infer/Infer.java
  pmd-java/src/main/java/net/sourceforge/pmd/lang/java/types/internal/infer/ast/BaseInvocMirror.java
  pmd-java/src/main/java/net/sourceforge/pmd/lang/java/types/internal/infer/ast/CtorInvocMirror.java
  pmd-java/src/main/java/net/sourceforge/pmd/lang/java/types/internal/infer/ast/MethodRefMirrorImpl.java
  pmd-java/src/test/resources/net/sourceforge/pmd/lang/java/rule/bestpractices/xml/UnusedPrivateMethod.xml
  pmd-java/src/test/resources/net/sourceforge/pmd/lang/java/rule/codestyle/xml/UseDiamondOperator.xml
Labels: a:false-positive

#5763 [java] Support annotated constructor return type in symbol API
  docs/pages/release_notes.md
  pmd-java/src/main/java/net/sourceforge/pmd/lang/java/symbols/JConstructorSymbol.java
  pmd-java/src/main/java/net/sourceforge/pmd/lang/java/symbols/JExecutableSymbol.java
  pmd-java/src/main/java/net/sourceforge/pmd/lang/java/symbols/JMethodSymbol.java
  pmd-java/src/main/java/net/sourceforge/pmd/lang/java/symbols/internal/ImplicitMemberSymbols.java
  pmd-java/src/main/java/net/sourceforge/pmd/lang/java/symbols/internal/asm/ExecutableStub.java
  pmd-java/src/main/java/net/sourceforge/pmd/lang/java/symbols/internal/asm/GenericSigBase.java
  pmd-java/src/main/java/net/sourceforge/pmd/lang/java/symbols/internal/ast/AbstractAstAnnotableSym.java
  pmd-java/src/main/java/net/sourceforge/pmd/lang/java/symbols/internal/ast/AbstractAstExecSymbol.java
  pmd-java/src/main/java/net/sourceforge/pmd/lang/java/symbols/internal/ast/AstCtorSym.java
  pmd-java/src/main/java/net/sourceforge/pmd/lang/java/symbols/internal/ast/AstMethodSym.java
  pmd-java/src/main/java/net/sourceforge/pmd/lang/java/types/ClassMethodSigImpl.java
  pmd-java/src/test/java/net/sourceforge/pmd/lang/java/symbols/internal/TypeAnnotReflectionOnMethodsTest.java
  pmd-java/src/test/java/net/sourceforge/pmd/lang/java/symbols/internal/TypeAnnotTestUtil.java
  pmd-java/src/test/java/net/sourceforge/pmd/lang/java/symbols/testdata/ClassWithTypeAnnotationsOnMethods.java
Labels: in:symbol-table

#5748 [core] Reformat SarifLog to comply to coding standards
  pmd-core/src/main/java/net/sourceforge/pmd/renderers/internal/sarif/SarifLog.java
Labels: in:pmd-internals

#5609 [core] Add rule to report unnecessary suppression comments/annotations
  docs/pages/pmd/userdocs/suppressing_warnings.md
  docs/pages/release_notes.md
  pmd-apex/src/main/java/net/sourceforge/pmd/lang/apex/ApexAnnotationSuppressor.java
  pmd-apex/src/main/java/net/sourceforge/pmd/lang/apex/ApexLanguageHandler.java
  pmd-apex/src/main/java/net/sourceforge/pmd/lang/apex/ApexViolationSuppressors.java
  pmd-apex/src/main/java/net/sourceforge/pmd/lang/apex/ast/ASTApexFile.java
  pmd-apex/src/main/java/net/sourceforge/pmd/lang/apex/ast/ApexCommentBuilder.java
  pmd-core/src/main/java/net/sourceforge/pmd/lang/LanguageVersionHandler.java
  pmd-core/src/main/java/net/sourceforge/pmd/lang/ast/AstInfo.java
  pmd-core/src/main/java/net/sourceforge/pmd/lang/ast/impl/SuppressionCommentImpl.java
  pmd-core/src/main/java/net/sourceforge/pmd/lang/ast/impl/javacc/AbstractTokenManager.java
  pmd-core/src/main/java/net/sourceforge/pmd/lang/document/BaseMappedDocument.java
  pmd-core/src/main/java/net/sourceforge/pmd/lang/rule/RuleSet.java
  pmd-core/src/main/java/net/sourceforge/pmd/lang/rule/impl/UnnecessaryPmdSuppressionRule.java
  pmd-core/src/main/java/net/sourceforge/pmd/lang/rule/internal/RuleSets.java
  pmd-core/src/main/java/net/sourceforge/pmd/reporting/AbstractAnnotationSuppressor.java
  pmd-core/src/main/java/net/sourceforge/pmd/reporting/InternalApiBridge.java
  pmd-core/src/main/java/net/sourceforge/pmd/reporting/RuleContext.java
  pmd-core/src/main/java/net/sourceforge/pmd/reporting/ViolationSuppressor.java
  pmd-core/src/main/java/net/sourceforge/pmd/util/CollectionUtil.java
  pmd-core/src/test/java/net/sourceforge/pmd/AbstractRuleTest.java
  pmd-core/src/test/java/net/sourceforge/pmd/lang/ast/DummyNode.java
  pmd-core/src/test/java/net/sourceforge/pmd/lang/document/FragmentedTextDocumentTest.java
  pmd-core/src/test/java/net/sourceforge/pmd/renderers/SummaryHTMLRendererTest.java
  pmd-java/src/main/java/net/sourceforge/pmd/lang/java/ast/JavaParser.java
  pmd-java/src/main/java/net/sourceforge/pmd/lang/java/internal/AnnotationSuppressionUtil.java
  pmd-java/src/main/java/net/sourceforge/pmd/lang/java/internal/JavaAnnotationSuppressor.java
  pmd-java/src/main/java/net/sourceforge/pmd/lang/java/internal/JavaLanguageProcessor.java
  pmd-java/src/main/javacc/Java.jjt
  pmd-java/src/main/resources/category/java/bestpractices.xml
  pmd-java/src/main/resources/category/java/codestyle.xml
  pmd-java/src/main/resources/rulesets/java/quickstart.xml
  pmd-java/src/test/java/net/sourceforge/pmd/lang/java/rule/bestpractices/UnnecessaryWarningSuppressionTest.java
  pmd-java/src/test/resources/net/sourceforge/pmd/lang/java/rule/bestpractices/xml/UnnecessaryWarningSuppression.xml
  pmd-javascript/src/main/java/net/sourceforge/pmd/lang/ecmascript/ast/EcmascriptParser.java
  pmd-test/src/main/java/net/sourceforge/pmd/test/RuleTst.java
  pmd-test/src/main/java/net/sourceforge/pmd/test/lang/rule/AbstractRuleSetFactoryTest.java
Labels: a:new-rule

#5741 [cli] Make CLI default to multithreaded
  docs/pages/pmd/userdocs/cli_reference.md
  docs/pages/release_notes.md
  pmd-cli/src/main/java/net/sourceforge/pmd/cli/commands/internal/PmdCommand.java
  pmd-cli/src/main/java/net/sourceforge/pmd/cli/commands/typesupport/internal/NumThreadsConverter.java
  pmd-cli/src/test/java/net/sourceforge/pmd/cli/PmdCliTest.java
  pmd-cli/src/test/java/net/sourceforge/pmd/cli/commands/typesupport/internal/NumThreadsConverterTest.java
  pmd-core/src/main/java/net/sourceforge/pmd/lang/impl/MonoThreadProcessor.java
  pmd-core/src/main/java/net/sourceforge/pmd/lang/impl/MultiThreadProcessor.java
  pmd-core/src/test/java/net/sourceforge/pmd/lang/impl/AbstractPMDProcessorTest.java
  pmd-core/src/test/java/net/sourceforge/pmd/lang/impl/MonoThreadProcessorTest.java
Labels: in:cli

#5775 Bump PMD from 7.13.0 to 7.14.0
  pom.xml
Labels: dependencies
